nav {
  display: block;
}

.bullet {
  padding: 15px;
  margin: 20px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 230px}
}

html {
  font-family: minion pro;
}

img.displayed {
    padding: 10px;
    height: 540px;
    width: 777px;
    display: block;
    margin-left: auto;
    margin-right: auto }
